<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ name }}</title>
	<script src="/js/fastclick.min.js"></script>
	<script src="/js/flexible.min.js"></script>
	<script src="/js/zepto.min.js"></script>
	<script src="/js/tplser.min.js"></script>
	<script src="/js/jump.min.js"></script>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/mark-vally.css">
	<link rel="stylesheet" href="/css/tree.css">
</head>
<body class="display-hidden" side-open="√">
	<div class="top"></div>
	<input type="checkbox" class="show-file-tree" checked />
	<div class="file-container">
		<ul class="file-tree file-tree-root">
			<a href="/{{ base }}" class="header root">/{{ base }}</a>
			{{ htmlList }}
		</ul>
	</div>

	<div class="container">
		<div class="welcome md">
			{{ md }}
		</div>
		
		<hr class="md-hr" />

		<ul class="sub-list">
			{{ get (item, idx) >>>> list }}
			<li>
				<a href="{{ item }}">{{ item }}</a>
			</li>
			{{ teg }}
		</ul>
	</div>

	<script src="/js/main.js"></script>

	{{ inter.llScript }}
</body>
</html>