/*main.css*/
body {
	font-family: "Consolas", "Menlo"; 
	transition: padding .3s; 
}

.container {
	max-width: 800px; 
	margin: 0 auto;
}

.top {
	position: absolute;
	top: 0; 
	left: 0; 
	width: 5%; 
	height: 6px;
	background-color: #DDD; 
}
